---
layout: page
permalink: /categories/
title: All Projects
---

<main>
    <header class="page-heading">
        <h1>My Projects</h1>
        {% include home-button.html %}
    </header>

    <div class="projects-grid">
        {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        {% for post in site.categories[category_name] %}
        {% include project-card.html post=post %}
        {% endfor %}
        {% endfor %}
    </div>

</main>