---
layout: default
permalink: /categories/
title: All Projects
---


<main style="width: 70%; margin: 0 auto;">
    {% for category in site.categories %}
    <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="{{ category_name | slugize }}" class="category-head">{{ category_name }}</div>
        <div class="archive-box">
            {% for post in site.categories[category_name] %}
            <article class="archive-item">
                {% include meta.html post=post preview=true %}
                {{ post.excerpt }}
                <div class="more"><a href="{{ post.url | relative_url }}">Show Project</a></div>
            </article>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</main>