---
layout: page
permalink: /categories/
title: All Projects
---

<main class="projects">
    <header class="page-heading">
        <h1>My Projects</h1>
        {% include home-button.html %}
    </header>

    <div class="grid">
        {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        {% for post in site.categories[category_name] %}
        <a class="card-container" href="{{ post.url }}">
            <article class="card">
                <div class="tags">
                    {%- assign date_format = site.date_format -%}
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                        {{ post.date | date: date_format }}
                    </time>
                    <span class="category">
                        {{ category_name }}
                    </span>
                </div>
                <div class="content">
                    {{ post.excerpt }}
                </div>
            </article>
        </a>
        {% endfor %}
        {% endfor %}
    </div>

</main>