---
title: "Home"
layout: index
---

<section class="section">
    <div class="intro-container">
        <div>
            <h2 class="hello">Hello,</h2>
            <h1 class="name">I'm&nbsp;Pawel</h1>
            <div class="job-title">Game&nbsp;&&nbsp;Web Developer</div>
            <div class="location">
                <svg aria-hidden=true class="icon">
                    <use xlink:href="/assets/fontawesome/icons.svg#location-dot"></use>
                </svg>
                Leeds, United&nbsp;Kingdom
            </div>
            <nav class="intro-buttons">
                <a class="button-link" href="/assets/docs/resume.pdf">
                    Resume
                    <svg aria-hidden=true class="icon">
                        <use xlink:href="/assets/fontawesome/icons.svg#file"></use>
                    </svg>
                </a>
                <a class="button-link" href="/categories">
                    Projects
                    <svg aria-hidden=true class="icon">
                        <use xlink:href="/assets/fontawesome/icons.svg#code"></use>
                    </svg>
                </a>
            </nav>
        </div>
        <img class="intro-picture" src="/assets/img/with_blur.png">
    </div>
</section>

<section class="section">
    <h1 class="section-heading">Experience</h1>
    <div class="experience-frames-container">

        {% include experience-frame.html
        light_image_src="assets/img/experience/xrgames-light.png"
        dark_image_src="assets/img/experience/xrgames-dark.png"
        time="Jun 2023 - Present"
        role_title="Junior Programmer"
        role_type="Full Time"
        role_slug="VR Game Programming"
        icons='
        <a title="C#" href="https://dotnet.microsoft.com/en-us/languages/csharp">
            <img class="technology-icon" alt="C# Logo" src="/assets/img/software-icons/csharp.svg">
        </a>
        <a title="Unity" href="https://unity.com">
            <picture>
                <source srcset="/assets/img/software-icons/U_Logo_Small_Black_RGB_1C-cropped.svg"
                    media="(prefers-color-scheme: light)">
                <img class="technology-icon" src="/assets/img/software-icons/U_Logo_Small_White_RGB_1C-cropped.svg">
            </picture>
        </a>
        '
        content="
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dui mauris, mattis vitae faucibus vitae,
            gravida
            et purus. Duis neque ligula, lobortis ac nisi id, cursus posuere lectus. Sed nec metus felis.
            Praesent
            aliquet elit sit amet lectus semper faucibus. Ut eu lectus quis erat fermentum porttitor pretium id
            ligula.
            Proin ultrices libero vitae orci molestie, vel bibendum purus fringilla. Mauris suscipit euismod
            eros
            vitae
            auctor. Aenean aliquam tellus non erat condimentum eleifend. Morbi tempor ligula ac ipsum venenatis,
            quis
            elementum velit ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis
            tincidunt
            finibus. Nunc cursus malesuada varius.
        </p>
        <p>
            Nulla suscipit tempor felis, ac tristique augue ullamcorper a. Nullam rhoncus tellus in venenatis
            mollis.
            Duis accumsan tellus a pharetra dapibus. Fusce egestas porta enim, convallis vulputate nisi
            ullamcorper
            eget. Nunc vehicula quis nibh nec elementum. Vestibulum at velit lobortis, bibendum magna at,
            efficitur
            odio. Suspendisse ac varius diam. Nulla facilisi.
        </p>
        " %}

        {% include experience-frame.html
        light_image_src="assets/img/experience/jaworski-light.svg"
        dark_image_src="assets/img/experience/jaworski-dark.svg"
        time="Feb 2024 - Present"
        role_title="Programmer"
        role_type="Contract"
        role_slug="Full Stack Development"
        icons='
        <a title="C#" href="https://dotnet.microsoft.com/en-us/languages/csharp">
            <img class="technology-icon" alt="C# Logo" src="/assets/img/software-icons/csharp.svg">
        </a>
        <a title="Blazor" href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">
            Blazor Image
        </a>
        <a title="ASP.NET" href="https://dotnet.microsoft.com/en-us/apps/aspnet">
            ASP.NET Image
        </a>
        '
        content="
        <p>
            Jaworski Software Solutions Ltd Contract<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dui mauris, mattis vitae faucibus vitae,
            gravida
            et purus. Duis neque ligula, lobortis ac nisi id, cursus posuere lectus. Sed nec metus felis.
            Praesent
            aliquet elit sit amet lectus semper faucibus. Ut eu lectus quis erat fermentum porttitor pretium id
            ligula.
            Proin ultrices libero vitae orci molestie, vel bibendum purus fringilla. Mauris suscipit euismod
            eros
            vitae
            auctor. Aenean aliquam tellus non erat condimentum eleifend. Morbi tempor ligula ac ipsum venenatis,
            quis
            elementum velit ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis
            tincidunt
            finibus. Nunc cursus malesuada varius.
        </p>
        <p>
            Nulla suscipit tempor felis, ac tristique augue ullamcorper a. Nullam rhoncus tellus in venenatis
            mollis.
            Duis accumsan tellus a pharetra dapibus. Fusce egestas porta enim, convallis vulputate nisi
            ullamcorper
            eget. Nunc vehicula quis nibh nec elementum. Vestibulum at velit lobortis, bibendum magna at,
            efficitur
            odio. Suspendisse ac varius diam. Nulla facilisi.
        </p>
        " %}

        {% include experience-frame.html
        light_image_src="assets/img/experience/self-employed.png"
        dark_image_src="assets/img/experience/self-employed.png"
        time="Mar 2022 - Present"
        role_title="Add-on Developer"
        role_type="Self-employed"
        role_slug="3D Software Extensions Development"
        icons='
        <a title="Python" href="https://python.org">
            <img class="technology-icon" alt="Python Logo" src="/assets/img/software-icons/python-logo-generic.svg">
        </a>
        <a title="Blender Foundation" href="https://blender.org">
            <img class="technology-icon" alt="Blender Logo" src="/assets/img/software-icons/blender_logo_socket.png">
        </a>
        '
        content="
        <p>
            Jaworski Software Solutions Ltd Contract<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dui mauris, mattis vitae faucibus vitae,
            gravida
            et purus. Duis neque ligula, lobortis ac nisi id, cursus posuere lectus. Sed nec metus felis.
            Praesent
            aliquet elit sit amet lectus semper faucibus. Ut eu lectus quis erat fermentum porttitor pretium id
            ligula.
            Proin ultrices libero vitae orci molestie, vel bibendum purus fringilla. Mauris suscipit euismod
            eros
            vitae
            auctor. Aenean aliquam tellus non erat condimentum eleifend. Morbi tempor ligula ac ipsum venenatis,
            quis
            elementum velit ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis
            tincidunt
            finibus. Nunc cursus malesuada varius.
        </p>
        <p>
            Nulla suscipit tempor felis, ac tristique augue ullamcorper a. Nullam rhoncus tellus in venenatis
            mollis.
            Duis accumsan tellus a pharetra dapibus. Fusce egestas porta enim, convallis vulputate nisi
            ullamcorper
            eget. Nunc vehicula quis nibh nec elementum. Vestibulum at velit lobortis, bibendum magna at,
            efficitur
            odio. Suspendisse ac varius diam. Nulla facilisi.
        </p>
        " %}

        {% include experience-frame.html
        light_image_src="assets/img/experience/self-employed.png"
        dark_image_src="assets/img/experience/self-employed.png"
        time="Jun 2021 - Sep 2022 WIP"
        role_title="Game Component Creator"
        role_type="Self-employed"
        role_slug="Game Engine Components Programming"
        icons='
        <a title="C++" href="https://isocpp.org/std">
            <img class="technology-icon" alt="ISO C++ Logo" src="/assets/img/software-icons/cpp_logo.png">
        </a>
        <a title="Unreal Engine" href="https://www.unrealengine.com">
            <picture>
                <source srcset="/assets/img/software-icons/UE-Icon-2023-Black.svg"
                    media="(prefers-color-scheme: light)">
                <img class="technology-icon" src="/assets/img/software-icons/UE-Icon-2023-White.svg">
            </picture>
        </a>
        '
        content="
        <p>
            Jaworski Software Solutions Ltd Contract<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dui mauris, mattis vitae faucibus vitae,
            gravida
            et purus. Duis neque ligula, lobortis ac nisi id, cursus posuere lectus. Sed nec metus felis.
            Praesent
            aliquet elit sit amet lectus semper faucibus. Ut eu lectus quis erat fermentum porttitor pretium id
            ligula.
            Proin ultrices libero vitae orci molestie, vel bibendum purus fringilla. Mauris suscipit euismod
            eros
            vitae
            auctor. Aenean aliquam tellus non erat condimentum eleifend. Morbi tempor ligula ac ipsum venenatis,
            quis
            elementum velit ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis
            tincidunt
            finibus. Nunc cursus malesuada varius.
        </p>
        <p>
            Nulla suscipit tempor felis, ac tristique augue ullamcorper a. Nullam rhoncus tellus in venenatis
            mollis.
            Duis accumsan tellus a pharetra dapibus. Fusce egestas porta enim, convallis vulputate nisi
            ullamcorper
            eget. Nunc vehicula quis nibh nec elementum. Vestibulum at velit lobortis, bibendum magna at,
            efficitur
            odio. Suspendisse ac varius diam. Nulla facilisi.
        </p>
        " %}

    </div>
</section>

<section class="section">
    <h1 class="section-heading">Featured Work</h1>
    <div class="featured-container">
        <article class="featured-item">
            <h3 class="featured-heading">Starship Troopers VR</h3>
            <div style="background: red; width: 100%; height: 200px;"></div>
        </article>
        <article class="featured-item">
            <h3 class="featured-heading">Node Editor</h3>
            <div style="background: red; width: 100%; height: 200px;"></div>
        </article>
        <article class="featured-item">
            <h3 class="featured-heading">Modular FPS</h3>
            <div style="background: red; width: 100%; height: 200px;"></div>
        </article>
    </div>

    <a class="button-link" href="/categories">
        See More
    </a>
</section>

<section class="section">
    <h1 class="section-heading">Skills</h1>

    <div class="skill-box">
        <div class="skill">
            Game Development
        </div>
        <div class="skill">
            Programming
        </div>
        <div class="skill">
            Game Design
        </div>
        <div class="skill">
            Pipeline Programming
        </div>
        <div class="skill">
            Graphics Programming
        </div>
        <div class="skill">
            Object-oriented Approaches
        </div>
        <div class="skill">
            Asset Creation
        </div>
        <div class="skill">
            Procedural Animation
        </div>
    </div>
</section>

<section class="section">
    <h1 class="section-heading">About Me</h1>
    <div class="about-me-container">
        <div class="wave">👋</div>
        <div>
            <p>
                I started my game development journey in 2017. Since then, I have worked on multiple projects in various
                game
                dev and Computer Science areas. The more notable ones I display on this website. I have been passionate
                about
                programming for many years, and I have always valued high quality.
            </p>

            <p>
                I am the author of two successful Blender add-ons, <a
                    href="https://blendermarket.com/products/smart-loops-toolkit">Smart Loops
                    Toolkit</a> and
                <a href="https://blendermarket.com/products/uex-blender-to-unreal">UEx</a>.
                Among other projects, I am currently working on <a href="/commercial/modularfps/">ModularFPS</a> -- an
                Unreal
                Engine 5 template
                for rapid and quality First Person Shooter
                development.
            </p>

            <p>
                I graduated from the University of Leeds with a degree in Computer Science in July 2023. My final year
                project
                title
                was
                <i>Interactive Skeletal Mesh Skinning Tool for real-time Animation</i>.
            </p>
        </div>

    </div>
</section>

<section class="section">
    <h2 class="section-heading">Recommendations</h2>
    David Jawor Jon Carl
</section>