body {
  background: var(--bg);
  color: var(--fg);
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 80%;
  max-width: 1100px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $heading-weight;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

b, strong, th {
  font-weight: $font-weight + 200;
}

p {
  text-align: justify;
}

a {
  color: var(--primary);
  text-decoration: inherit;
  transition: .2s background linear, .2s color linear;

  &:hover {
    color: var(--primary);
  }
}

table {
  display: inline-block;
  max-width: 100%;
  overflow-y: scroll;
  border-spacing: 1px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px reduce(12) inset;
}

th, td {
  padding: .5em 1em;
  box-shadow: 0 0 0 1px reduce(12);
}

tr:hover, tr:nth-child(odd) td {
  background: reduce(4);
}