.experience-frame {
    border: $border-width solid var(--muted-bg);
    border-radius: 10px;
    padding: 1rem;

    &:hover {
        background: var(--muted-bg);
    }
}

.experience-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 1rem;
}

.role-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

@media only screen and (max-width: $small-width) {
    .role-container {
        flex-direction: column;
        width: 100%;
    }
}

.role-header-text {
    display: flex;
    gap: 2rem;
    align-items: baseline;
    flex-wrap: wrap;
}

.company-picture {
    height: 3rem;
}

@media only screen and (max-width: $small-width) {
    .company-picture {
        height: 6rem;
    }
}

.company-image {
    height: 100%;
}

.role-name {
    margin: 0;

}

.role-type {
    color: var(--muted-fg);
}

.role-details-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 690px) {
    .role-details-container {
        flex-direction: column;
    }
}

.role-slug {
    font-size: 1.1rem;
}

.role-technologies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.technology-icon {
    height: 3em;
}