footer {
    margin-top: 5rem;
    padding: 2rem;
    padding-top: 1rem;
    color: var(--muted-fg);
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: solid var(--muted-bg) $border-width;
    font-size: 1.1rem;

    .copyright-text {
        font-size: 0.9rem;
    }

    a {
        color: inherit;
    }
}
