.intro-container {
  display: flex;
  gap: 2rem;
  margin: auto;
  align-items: center;
}

.intro-picture {
  min-width: 0px;
}

.hello {
  margin-bottom: 0;
}

.name {
  font-size: 4rem;
  background: radial-gradient(circle, var(--secondary) 0%, var(--primary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  font-family: 'PT Sans';
}

.job-title {
  font-size: 1.4rem;
  margin-top: 5rem;
  line-height: 1.2;
}

.location {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.intro-buttons {
  display: flex;
  gap: 2rem;
}

.section {
  margin-top: 5rem;
}

.section-heading {
  text-align: center;
  margin-bottom: 2rem;
}

.experience-frames-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.featured-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  gap: 1rem;
}

@media only screen and (max-width: $medium-width) {
  .featured-container {
    justify-content: center;
  }
}

.featured-item {
  flex: 1 1 calc(33.33% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

@media only screen and (max-width: $medium-width) {
  .featured-item {
    flex: 1 1 100%;
    max-width: 80%;
  }
}

.featured-heading {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.see-more-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.about-me-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media only screen and (max-width: $small-width) {
  .about-me-container {
    flex-direction: column;
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 72% 72%;
  font-size: 8rem;
}

.skill-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.skill {
  border-radius: 5px;
  border: $border-width solid var(--primary);
  padding: .4em .8em;
  transition: .2s background, .2s color;
  user-select: none;

  &:hover {
    color: var(--bg);
    background: var(--primary);
    text-decoration: inherit;
  }
}