.intro-section {}

.intro-container {
  display: flex;
  gap: 2rem;
  margin: auto;
  align-items: center;
}

.intro-picture {
  min-width: 0px;
}

.intro-text {}

.hello {
  margin-bottom: 0;
}

.name {
  font-size: 4rem;
  background: radial-gradient(circle, var(--secondary) 0%, var(--primary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.job-title {
  font-size: 1.4rem;
  margin-top: 5rem;
  line-height: 1.2;
}

.location {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.intro-buttons {
  display: flex;
  gap: 2rem;
}

.experience-section {
  margin-top: 5rem;
}

.section-heading {
  text-align: center;
}

.experience-frame {
  border: 2px;
  border-radius: 10px;
  border-color: var(--muted);
}

.skillbox {
  display: flex;
  flex-flow: row wrap;
  row-gap: 1em;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 1em 0;
}

.skill {
  border-radius: 5px;
  border: 1.5px solid var(--primary);
  padding: .4em .8em;
  transition: .2s background, .2s color;
  width: auto;
  margin: auto 1em;
  text-align: center;
  user-select: none;
}

.skill:hover {
  color: var(--bg);
  background: var(--primary);
  text-decoration: inherit;
}

.softwareicon {
  height: 3em;
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}