main.page.page--projects {
    h1 {
        text-align: center;
        display: block;
        margin-bottom: 5rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;

        @media only screen and (min-width: $small-width) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        @media only screen and (min-width: $max-width) {
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        position: relative;
        transition: background-color 0.1s ease-in;

        h2 {
            font-size: calc(1rem + ((1vw - 7.68px) * 1.3889));
            font-weight: bold;
            margin-block-end: 1rem;
        }

        .tags {
            display: flex;
            gap: 0.5rem;
            margin-block-end: 1rem;

            .category,
            time {
                width: fit-content;
                padding: 6px 12px;
                border-radius: 16px;
                color: var(--dark-900);
                font-weight: bold;
                font-size: 14px;
            }

            time {
                background-color: white;
            }

            .category {
                background-color: white;
            }
        }

        .content {

            img {
                width: 100%;
                aspect-ratio: 5/3;
                object-fit: contain;
                filter: grayscale(100%);
                transition: filter 0.1s ease-in;
            }

            .button-link {
                display: inline-block;
                margin-top: auto;
            }
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.208);

            .content img {
                filter: none;
            }
        }
    }
}