.button-link {
  user-select: none;
  border-radius: $border-full;
  outline: $border-width solid var(--primary);
  padding: .4em .8em;
  text-align: center;
  width: fit-content;
  height: fit-content;

  &:hover {
    color: var(--fg);
    background: var(--secondary);
    background: linear-gradient(45deg, var(--secondary) 0%, rgba(var(--primary-rgb), 0.447) 100%);
    outline: transparent;
  }
}

.icon {
  height: 1em;
  width: 1em;
  fill: currentColor;
  top: .125em;
  position: relative;
}

.muted {
  color: var(--muted-fg);
}

.back-to-top {
  color: inherit !important;
  cursor: pointer;
  font-size: 1.4rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  display: flex;

  background-color: var(--muted-bg);
  border-radius: $border-full;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;

  &[scrolled='1'] {
    opacity: 1;
    visibility: visible;
  }

  img {
    width: 100%;
    padding: 20%;
    transform: translate(0, -6%);
  }
}

.home {
  color: inherit !important;
  margin-left: auto;
}

.home-image {
  width: 2rem;
}

.page-heading {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap-reverse;
}