.button-link {
  user-select: none;
  border-radius: 1000000px;
  outline: $border-width solid var(--primary);
  padding: .4em .8em;
  text-align: center;

  &:hover {
    color: var(--fg);
    background: var(--secondary);
    background: linear-gradient(45deg, var(--secondary) 0%, rgba(var(--primary-rgb), 0.447) 100%);
    outline: transparent;
  }
}

.icon {
  height: 1em;
  width: 1em;
  fill: currentColor;
  display: inline-flex;
  align-self: center;
  top: .125em;
  position: relative;
}

.muted {
  color: var(--muted-fg);
}