.button-link {
  user-select: none;
  border-radius: 1000000px;
  outline: $border-width solid var(--primary);
  padding: .4em .8em;
  text-align: center;

  &:hover {
    color: var(--fg);
    background: var(--secondary);
    background: linear-gradient(45deg, var(--secondary) 0%, rgba(var(--primary-rgb), 0.447) 100%);
    outline: transparent;
  }
}

.icon {
  height: 1em;
  width: 1em;
  fill: currentColor;
  top: .125em;
  position: relative;
}

.muted {
  color: var(--muted-fg);
}

.back-to-top {
  color: inherit !important;
  cursor: pointer;
  font-size: 1.4rem;
  position: fixed;
  display: flex;
  bottom: 3rem;
  right: 3rem;
  background-color: var(--muted-bg);
  border-radius: 1000000px;
  width: 3rem;
  height: 3rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;

  &[scrolled='1'] {
    opacity: 1;
    visibility: visible;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}