---
layout: page
---

<article class="post">

    <div class="page-heading">
        <h1>{{ page.title }}</h1>
        <nav>
            <a class="button-link" href="/categories">
                All&nbsp;Projects&nbsp;<svg aria-hidden=true class="icon">
                    <use xlink:href="/assets/fontawesome/icons.svg#code"></use>
                </svg>
            </a>
            {% include home-button.html %}
        </nav>
    </div>


    {{ content }}
    {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
    {% endif %}
</article>