---
layout: page
---

<article class="post">

    <header class="page-heading">
        <div>
            <h1>{{ page.title }}</h1>
            <div class="tags">
                {% capture category_name %}{{ page.categories | first }}{% endcapture %}
                {%- assign date_format = site.date_format -%}
                <time datetime="{{ page.date | date_to_xmlschema }}">
                    {{ page.date | date: date_format }}
                </time>
                <span class="category">
                    {{ category_name }}
                </span>
            </div>
        </div>
        <nav>
            <a class="button-link" href="/categories">
                All&nbsp;Projects&nbsp;<svg aria-hidden=true class="icon">
                    <use xlink:href="/assets/fontawesome/icons.svg#code"></use>
                </svg>
            </a>
            {% include home-button.html %}
        </nav>
    </header>

    {{ content }}
    {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
    {% endif %}
</article>